@font-face {
    font-family: "Poppins-Semi";
    src: url(/Fonts/Poppins-Regular.ttf) format('truetype');
    font-style: normal;
}

/* Estilos generales */
body {
    font-family: "Poppins-Semi", sans-serif;
    background: url(/Images/satoru-gojo-en-jujutsu-kaisen_3840x2160_xtrafondos.com.jpg);
    background-size: cover;
    color: #ffffff;

}

h1 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 2rem;
}


/* Estilo del borde animado */
.border-animate {
    border-width: 2px;
    border-color: #f56565;
    border-style: solid;
    animation: border-pulse 1.5s infinite;
}

@keyframes border-pulse {
    0% {
        border-color: #f56565;
    }
    50% {
        border-color: #ed64a6;
    }
    100% {
        border-color: #f56565;
    }
}

/* Estilo para botones y entradas */
.btn-primary {
    background-color: #f56565;
    border-color: #f56565;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #ed64a6;
    border-color: #ed64a6;
}

.form-control {
    border-radius: 0.375rem;
}


input, select, textarea{
    border-radius: 8px;
    margin-bottom: 1rem;
}

.table{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 12px;
}

.table-striped > tbody > tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

button {
    border-radius: 8px;
}

#rating-container i {
    color: #ccc;
    cursor: pointer;
}

#rating-container i.text-yellow-500 {
    color: #ffd700;
}

.fas.fa-star {
    color: #fbbf24;
    font-size: 1.5rem;
    transition: color 0.8s ease;
}

.fas.fa-star:hover, .fas.fa-star.active {
    color: #f59e0b;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    form {
        margin-top: 20px;
    }

    .row {
        margin-bottom: 10px;
    }

    .row .col-md-6,
    .row .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    #search-bar {
        margin-bottom: 15px;
    }

    /* Botón de submit centrado en móviles */
    button[type="submit"] {
        width: 100%;
        margin-top: 20px;
    }

    /* Mejoras en la tabla para dispositivos móviles */
    table {
        font-size: 0.9rem;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        display: block;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
    }

    table tbody tr td {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    table tbody tr td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
    }

    table tbody tr td:last-child {
        text-align: right;
    }
}
